<html>

<body>
  <div id="bv">
    <h2>Olá {{nomeCompleto}} !</h2><br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary opc" id="option1">
        <input type="radio" (click)="switchHtml('option1')" name="options" autocomplete="off" checked>
        Redefinir Senha
      </label>
      <label class="btn btn-secondary opc" id="option2">
        <input (click)="switchHtml('option2')" type="radio" name="options" autocomplete="off"> Gráficos
      </label>
      <label class="btn btn-secondary opc" id="option3">
        <input (click)="switchHtml('option3')" type="radio" name="options" autocomplete="off"> Exportar Dados
      </label>
      <label class="btn btn-secondary opc" id="option4">
        <input (click)="switchHtml('option4')" type="radio" name="options" autocomplete="off"> Deletar Usuário
      </label>
    </div>
  </div>
  <div id="bv">
    <!--------------------------------------------------------------->
    <div id="exibirTrocarSenha" hidden>
      <div class="container login-container">
        <div class="row">
          <div class="col-md-12 login-form-1">
            <h3>Redefinir Senha</h3>
            <form>
              <div class="form-group">
                <label for="password">Senha Antiga</label>
                <input [(ngModel)]="senhaAntiga" name="senha1" type="password" class="form-control" placeholder="Senha">
              </div>
              <div class="form-group">
                <label for="Password">Nova Senha</label>
                <input [(ngModel)]="senha" name="senha" type="password" class="form-control" placeholder="Senha">
              </div>
              <p id="sucesso" class="alert alert-success" role="alert" hidden>Senha alterada com sucesso</p>
              <p id="erro" class="alert alert-danger" role="alert" hidden>Erro ao alterar senha!</p>
              <p id="carregando" class="alert alert-info" role="alert" hidden>Aguarde! Validando Alteração...</p>
              <div class="form-group">
                <button type="reset" class="btn btn-primary" (click)="redefinirSenha()">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------->
      <div id="graficos" hidden>
        <div id="chartContainer" style="height: 390px; width: 100%;"></div>
      </div>
    <div id="exportar" hidden>
      <h3>Exportação de dados</h3>
      <span>Aqui você pode exportar todas as nossas ofertas em um arquivo<strong> Json </strong>para fins didáticos.<br>Utilize
        quantas vezes quiser!</span><br><br>
      <button class="btn btn-primary" (click)="exportarDados()">Clique Aqui Para Exportar</button>
    </div>
    <div id="deletar" hidden>
      <h3>Deletar Usuário</h3>
      <strong><span>Aqui você pode apagar seu usuário de nossa plataforma!</span></strong><br>
      <form [formGroup]="profileForm" (ngSubmit)="deletarUsuarios()">
        <label for="email">Insira Seu E-mail</label>
        <input placeholder="E-mail" class="form-control" formControlName="emailUsuario" required>
        <label for="email">Insira Sua Senha</label>
        <input placeholder="Senha" class="form-control" type="password" formControlName="senhaUsuario" required><br>
        <button type="submit" class="btn btn-danger" [disabled]="!profileForm.valid">Excluir Conta</button>
      </form>
    </div>
  </div>
</body>

</html>