.login-container{
    margin-bottom: 2%;
}
.login-form-1{
    padding-top: 2%;
    padding-bottom: -1%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding-top: 2%;
    padding-bottom: -1%;
    background: rgb(236, 93, 93);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: rgb(236, 93, 93);
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: rgb(236, 93, 93);
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: rgb(236, 93, 93);
    font-weight: 600;
    text-decoration: none;
}

#divErroLogin {
    color: red;
}

#divErroEsqueceu {
    color: red;
}

#divErroCadastrar {
    color: red;
}

#divAcertoEsqueceu {
    color: green;
}